:root {
  --primary-color: #fff;
  --secondary-color: #717171;
  --active-blue-color: #1784f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source San Pro", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
