.navigation > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
}

.navItem {
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 600;
  position: relative;
  transition: opacity 0.3s ease;
}

/* Dropdown Styling */
.dropdown {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;

  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  width: 100vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
  pointer-events: none; /* Don't interaction when invisible */
}

.packsItem:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Dim sibling nav items only when hovering on "Packs" */
.packsItem:hover ~ .navItem {
  opacity: 0.8;
  filter: blur(0.5px);
}

/* Dropdown item styling */
.dropdown li {
  padding: 0.5rem 0;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #444;
}

.install {
  color: var(--active-blue-color);
  font-weight: bold;
  padding-top: 0.5rem;
  border-top: 1px solid #444;
}
